# Configuration file

general {
    # The amount to multiply EMC consumption by in the Transmutation Generator. Does not, directly, affect energy production
    # Min: 0.01
    # Max: 100.0
    D:generatorEMCMultiplier=1.0

    # The maximum amount of a single item to expose, even if you have enough EMC to make more.
    # Min: 64
    # Max: 2147483647
    I:maximumExposedStackSize=1000000
}


