# Configuration file

~CONFIG_VERSION: 1.12.2-3.1.0.73

##########################################################################################################
# loot_weights
#--------------------------------------------------------------------------------------------------------#
# Weight in the loot table, higher the number lower the chance of dropping. Zero and lower will disable the entry.
##########################################################################################################

loot_weights {
    #  [range: -1 ~ 32767, default: 10]
    I:dustAdamant=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAdamantine=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAdamantite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAdamantium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAluminum=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAntimony=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustAquarium=10
    I:dustArdite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBismuth=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBlutonium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustBrass=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustBronze=-1
    I:dustCobalt=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustColdiron=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustConstantan=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustCopper=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustCupronickel=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustCyanite=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustElectrum=-1

    #  [range: -1 ~ 32767, default: 15]
    I:dustGold=15

    #  [range: -1 ~ 32767, default: 10]
    I:dustGraphite=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustInvar=-1

    #  [range: -1 ~ 32767, default: 10]
    I:dustIridium=10

    #  [range: -1 ~ 32767, default: 5]
    I:dustIron=5

    #  [range: -1 ~ 32767, default: 8]
    I:dustLead=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustLudicrite=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustMercury=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustMithril=-1

    #  [range: -1 ~ 32767, default: 8]
    I:dustNickel=8

    #  [range: -1 ~ 32767, default: 10]
    I:dustObsidian=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustOsmium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustPewter=10

    #  [range: -1 ~ 32767, default: 18]
    I:dustPlatinum=18

    #  [range: -1 ~ 32767, default: 10]
    I:dustPlutonium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustQuicksilver=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustRedstone=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilicon=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSilver=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustSoularium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustStarsteel=10

    #  [range: -1 ~ 32767, default: -1]
    I:dustSteel=-1

    #  [range: -1 ~ 32767, default: 5]
    I:dustTin=5

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitanium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitaniumAluminide=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustTitaniumIridium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustUranium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustYellorium=10

    #  [range: -1 ~ 32767, default: 10]
    I:dustZinc=10
}


