# Configuration file

balance {
    # The amount of souls to absorb from Mob Spawners. [range: 0 ~ 2147483647, default: 200]
    I:absorptionBonus=200

    # Adds a shapeless recipe that allows shards to be reset fresh. [default: true]
    B:addShardResetRecipe=true

    # Allows boss mobs to be spawned by cages. Some bosses (like the Ender Dragon) have custom logic which causes them to not work properly when spawned. [default: false]
    B:allowBossSpawns=false

    # Allows fake players to grow Shards in their inventories. [default: false]
    B:allowFakePlayers=false

    # Allows shards of the same entity to be combined in an anvil for a direct kill addition. [default: true]
    B:allowShardCombination=true

    # Allow shards to absorb Mob Spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Mobs spawned via the cage should count toward shard kills. [default: false]
    B:countCageBornForShard=false

    # Mobs spawned via the cage will drop experience. [default: true]
    B:dropExperience=true

    # The maximum amount of cage born mobs that a cage can have in a 16 block radius before shutting off. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


client {
    # Displays a durability bar for how full the shard is compared to the max tier available. [default: true]
    B:displayDurabilityBar=true

    # Displays a shard for every enabled entity in the creative tab. [default: false]
    B:explodeCreativeTab=false

    # Adds blacklisted entities to the creative tab if "explodeCreativeTab" is true. [default: false]
    B:ignoreBlacklistForTab=false
}


##########################################################################################################
# entity_list
#--------------------------------------------------------------------------------------------------------#
# Enabling boss mobs is not supported. If they work, great. If not, oh well.
##########################################################################################################

entity_list {
    # Allows the gathering and spawning of monoliths [default: true]
    B:"dimdoors:mob_monolith"=true
    B:"embers:ancient_golem"=true

    # Allows the gathering and spawning of enderiozoo.concussioncreeper [default: true]
    B:"enderiozoo:concussioncreeper"=true

    # Allows the gathering and spawning of enderiozoo.direslime [default: true]
    B:"enderiozoo:direslime"=true

    # Allows the gathering and spawning of enderiozoo.direwolf [default: true]
    B:"enderiozoo:direwolf"=true

    # Allows the gathering and spawning of enderiozoo.enderminy [default: true]
    B:"enderiozoo:enderminy"=true

    # Allows the gathering and spawning of enderiozoo.epicsquid [default: true]
    B:"enderiozoo:epicsquid"=true

    # Allows the gathering and spawning of enderiozoo.fallenknight [default: true]
    B:"enderiozoo:fallenknight"=true

    # Allows the gathering and spawning of enderiozoo.fallenmount [default: true]
    B:"enderiozoo:fallenmount"=true

    # Allows the gathering and spawning of enderiozoo.lovechild [default: true]
    B:"enderiozoo:lovechild"=true

    # Allows the gathering and spawning of enderiozoo.owl [default: true]
    B:"enderiozoo:owl"=true

    # Allows the gathering and spawning of enderiozoo.withercat [default: true]
    B:"enderiozoo:withercat"=true

    # Allows the gathering and spawning of enderiozoo.witherwitch [default: true]
    B:"enderiozoo:witherwitch"=true

    # Allows the gathering and spawning of butterflyGE [default: true]
    B:"forestry:butterflyge"=true

    # Allows the gathering and spawning of alien_villager [default: true]
    B:"galacticraftcore:alien_villager"=true

    # Allows the gathering and spawning of evolved_creeper [default: true]
    B:"galacticraftcore:evolved_creeper"=true

    # Allows the gathering and spawning of evolved_enderman [default: true]
    B:"galacticraftcore:evolved_enderman"=true

    # Allows the gathering and spawning of evolved_skeleton [default: true]
    B:"galacticraftcore:evolved_skeleton"=true

    # Allows the gathering and spawning of evolved_skeleton_boss [default: true]
    B:"galacticraftcore:evolved_skeleton_boss"=true

    # Allows the gathering and spawning of evolved_spider [default: true]
    B:"galacticraftcore:evolved_spider"=true

    # Allows the gathering and spawning of evolved_witch [default: true]
    B:"galacticraftcore:evolved_witch"=true

    # Allows the gathering and spawning of evolved_zombie [default: true]
    B:"galacticraftcore:evolved_zombie"=true

    # Allows the gathering and spawning of creeper_boss [default: true]
    B:"galacticraftplanets:creeper_boss"=true

    # Allows the gathering and spawning of juicer [default: true]
    B:"galacticraftplanets:juicer"=true

    # Allows the gathering and spawning of slimeling [default: true]
    B:"galacticraftplanets:slimeling"=true

    # Allows the gathering and spawning of sludgeling [default: true]
    B:"galacticraftplanets:sludgeling"=true

    # Allows the gathering and spawning of spider_queen [default: true]
    B:"galacticraftplanets:spider_queen"=true

    # Allows the gathering and spawning of pink_slime [default: true]
    B:"industrialforegoing:pink_slime"=true
    B:"mekanism:babyskeleton"=true
    B:"mekanism:robit"=true

    # Allows the gathering and spawning of ArmorStand [default: false]
    B:"minecraft:armor_stand"=false

    # Allows the gathering and spawning of Bat [default: true]
    B:"minecraft:bat"=true

    # Allows the gathering and spawning of Blaze [default: true]
    B:"minecraft:blaze"=true

    # Allows the gathering and spawning of CaveSpider [default: true]
    B:"minecraft:cave_spider"=true

    # Allows the gathering and spawning of Chicken [default: true]
    B:"minecraft:chicken"=true

    # Allows the gathering and spawning of Cow [default: true]
    B:"minecraft:cow"=true

    # Allows the gathering and spawning of Creeper [default: true]
    B:"minecraft:creeper"=true

    # Allows the gathering and spawning of Donkey [default: true]
    B:"minecraft:donkey"=true

    # Allows the gathering and spawning of ElderGuardian [default: false]
    B:"minecraft:elder_guardian"=false

    # Allows the gathering and spawning of EnderDragon [default: false]
    B:"minecraft:ender_dragon"=false

    # Allows the gathering and spawning of Enderman [default: true]
    B:"minecraft:enderman"=true

    # Allows the gathering and spawning of Endermite [default: true]
    B:"minecraft:endermite"=true

    # Allows the gathering and spawning of EvocationIllager [default: true]
    B:"minecraft:evocation_illager"=true

    # Allows the gathering and spawning of Ghast [default: true]
    B:"minecraft:ghast"=true

    # Allows the gathering and spawning of Giant [default: true]
    B:"minecraft:giant"=true

    # Allows the gathering and spawning of Guardian [default: true]
    B:"minecraft:guardian"=true

    # Allows the gathering and spawning of Horse [default: true]
    B:"minecraft:horse"=true

    # Allows the gathering and spawning of Husk [default: true]
    B:"minecraft:husk"=true

    # Allows the gathering and spawning of IllusionIllager [default: true]
    B:"minecraft:illusion_illager"=true

    # Allows the gathering and spawning of Llama [default: true]
    B:"minecraft:llama"=true

    # Allows the gathering and spawning of LavaSlime [default: true]
    B:"minecraft:magma_cube"=true

    # Allows the gathering and spawning of MushroomCow [default: true]
    B:"minecraft:mooshroom"=true

    # Allows the gathering and spawning of Mule [default: true]
    B:"minecraft:mule"=true

    # Allows the gathering and spawning of Ozelot [default: true]
    B:"minecraft:ocelot"=true

    # Allows the gathering and spawning of Parrot [default: true]
    B:"minecraft:parrot"=true

    # Allows the gathering and spawning of Pig [default: true]
    B:"minecraft:pig"=true

    # Allows the gathering and spawning of PolarBear [default: true]
    B:"minecraft:polar_bear"=true

    # Allows the gathering and spawning of Rabbit [default: true]
    B:"minecraft:rabbit"=true

    # Allows the gathering and spawning of Sheep [default: true]
    B:"minecraft:sheep"=true

    # Allows the gathering and spawning of Shulker [default: true]
    B:"minecraft:shulker"=true

    # Allows the gathering and spawning of Silverfish [default: true]
    B:"minecraft:silverfish"=true

    # Allows the gathering and spawning of Skeleton [default: true]
    B:"minecraft:skeleton"=true

    # Allows the gathering and spawning of SkeletonHorse [default: true]
    B:"minecraft:skeleton_horse"=true

    # Allows the gathering and spawning of Slime [default: true]
    B:"minecraft:slime"=true

    # Allows the gathering and spawning of SnowMan [default: true]
    B:"minecraft:snowman"=true

    # Allows the gathering and spawning of Spider [default: true]
    B:"minecraft:spider"=true

    # Allows the gathering and spawning of Squid [default: true]
    B:"minecraft:squid"=true

    # Allows the gathering and spawning of Stray [default: true]
    B:"minecraft:stray"=true

    # Allows the gathering and spawning of Vex [default: true]
    B:"minecraft:vex"=true

    # Allows the gathering and spawning of Villager [default: true]
    B:"minecraft:villager"=true

    # Allows the gathering and spawning of VillagerGolem [default: true]
    B:"minecraft:villager_golem"=true

    # Allows the gathering and spawning of VindicationIllager [default: true]
    B:"minecraft:vindication_illager"=true

    # Allows the gathering and spawning of Witch [default: true]
    B:"minecraft:witch"=true

    # Allows the gathering and spawning of WitherBoss [default: false]
    B:"minecraft:wither"=false

    # Allows the gathering and spawning of WitherSkeleton [default: true]
    B:"minecraft:wither_skeleton"=true

    # Allows the gathering and spawning of Wolf [default: true]
    B:"minecraft:wolf"=true

    # Allows the gathering and spawning of Zombie [default: true]
    B:"minecraft:zombie"=true

    # Allows the gathering and spawning of ZombieHorse [default: true]
    B:"minecraft:zombie_horse"=true

    # Allows the gathering and spawning of PigZombie [default: true]
    B:"minecraft:zombie_pigman"=true

    # Allows the gathering and spawning of ZombieVillager [default: true]
    B:"minecraft:zombie_villager"=true

    # Allows the gathering and spawning of myst.book [default: true]
    B:"mystcraft:myst.book"=true
    B:"mysticalworld:entity_beetle"=true
    B:"mysticalworld:entity_deer"=true
    B:"mysticalworld:entity_endermini"=true
    B:"mysticalworld:entity_fox"=true
    B:"mysticalworld:entity_frog"=true
    B:"mysticalworld:entity_lava_cat"=true
    B:"mysticalworld:entity_owl"=true
    B:"mysticalworld:entity_silkworm"=true
    B:"mysticalworld:entity_sprout"=true

    # Allows the gathering and spawning of netherex:brute [default: true]
    B:"netherex:brute"=true

    # Allows the gathering and spawning of netherex:coolmar_spider [default: true]
    B:"netherex:coolmar_spider"=true

    # Allows the gathering and spawning of netherex:ember [default: true]
    B:"netherex:ember"=true

    # Allows the gathering and spawning of netherex:frost [default: true]
    B:"netherex:frost"=true

    # Allows the gathering and spawning of netherex:ghast_queen [default: true]
    B:"netherex:ghast_queen"=true

    # Allows the gathering and spawning of netherex:ghastling [default: true]
    B:"netherex:ghastling"=true

    # Allows the gathering and spawning of netherex:gold_golem [default: true]
    B:"netherex:gold_golem"=true

    # Allows the gathering and spawning of netherex:mogus [default: true]
    B:"netherex:mogus"=true

    # Allows the gathering and spawning of netherex:nethermite [default: true]
    B:"netherex:nethermite"=true

    # Allows the gathering and spawning of netherex:pigtificate [default: true]
    B:"netherex:pigtificate"=true

    # Allows the gathering and spawning of netherex:pigtificate_leader [default: true]
    B:"netherex:pigtificate_leader"=true

    # Allows the gathering and spawning of netherex:salamander [default: true]
    B:"netherex:salamander"=true

    # Allows the gathering and spawning of netherex:spinout [default: true]
    B:"netherex:spinout"=true

    # Allows the gathering and spawning of netherex:spore [default: true]
    B:"netherex:spore"=true

    # Allows the gathering and spawning of netherex:spore_creeper [default: true]
    B:"netherex:spore_creeper"=true

    # Allows the gathering and spawning of netherex:wight [default: true]
    B:"netherex:wight"=true
    B:"nex:bone_spider"=true
    B:"nex:brute"=true
    B:"nex:ember"=true
    B:"nex:ghast_queen"=true
    B:"nex:ghastling"=true
    B:"nex:gold_golem"=true
    B:"nex:mogus"=true
    B:"nex:nethermite"=true
    B:"nex:pigtificate"=true
    B:"nex:pigtificate_leader"=true
    B:"nex:salamander"=true
    B:"nex:spinout"=true
    B:"nex:spore"=true
    B:"nex:spore_creeper"=true
    B:"nex:wight"=true

    # Allows the gathering and spawning of quark:archaeologist [default: true]
    B:"quark:archaeologist"=true
    B:"quark:archeologist"=true

    # Allows the gathering and spawning of quark:ashen [default: true]
    B:"quark:ashen"=true

    # Allows the gathering and spawning of quark:crab [default: true]
    B:"quark:crab"=true

    # Allows the gathering and spawning of quark:dweller [default: true]
    B:"quark:dweller"=true

    # Allows the gathering and spawning of quark:foxhound [default: true]
    B:"quark:foxhound"=true

    # Allows the gathering and spawning of quark:frog [default: true]
    B:"quark:frog"=true

    # Allows the gathering and spawning of quark:leash_knot [default: true]
    B:"quark:leash_knot"=true

    # Allows the gathering and spawning of quark:pirate [default: true]
    B:"quark:pirate"=true

    # Allows the gathering and spawning of quark:stoneling [default: true]
    B:"quark:stoneling"=true

    # Allows the gathering and spawning of quark:wraith [default: true]
    B:"quark:wraith"=true
    B:"soot:muse"=true
    B:"thermalfoundation:basalz"=true
    B:"thermalfoundation:blitz"=true
    B:"thermalfoundation:blizz"=true
}


server {
    # Requires the shard owner to be online. The owner is the first person to obtain a kill with the shard. [default: false]
    B:requireOwnerOnline=false

    # Requires a redstone signal to activate cages regardless of tier. [default: false]
    B:requireRedstoneSignal=false
}


